
@*<h3>@_customer.FullName</h3>

<p>@_customer.EmailAddress</p>
<p>@_customer.TreatmentType</p>*@

<input @bind-value="SearchTerm" @bind-value:event="oninput" />
<span class="text-nowrap">
    Showing @filteredCustomers.Count out of @CustomerDatabase.Customers.Count
</span>
<h4 class="mt-4">Customers</h4>

    @foreach (var custList in filteredCustomers)
    {
        <p class="customerDisplayFont">@custList.FullName <br /> @custList.EmailAddress <br /> @custList.PhoneNumber <br /> <a href="Add_User"><span class="moreinfofont">More info</span></a></p>
    }


@code {
    private Customer _customer;



    string SearchTerm { get; set; } = "";
    List<Customer> filteredCustomers => CustomerDatabase.Customers.Where(i => i.FullName.ToLower().Contains(SearchTerm.ToLower())).ToList();

}
